/* Fuentes */
h1 
{
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
}

h2
{
    font-family: 'Poppins', sans-serif;
    font-size: 250%;
    
}
p 
{
    font-family: 'Open Sans', sans-serif;  
}


ul 
{   
    font-family: 'Poppins', sans-serif;
    list-style:none
}

/* Contenedores */
 .container2, .container3 , .container4, .container6
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    
}
.container1
{
    display: grid;
    grid-template-rows: 30% 30%;    
}

.container5
{
    padding: 2em;
}
.video
{
    margin-left: auto;
    margin-right: auto;
    display: block
}

.elemento4
{
grid-column: 1/3;
}

  .container1 div, .container2 div, .container3 div, .container4 div,  .container6 div
{
    padding: 8em;
    justify-items: stretch;    
}

.container{
    padding: 5em;
    margin:auto ;
    justify-items: stretch; 
}
.div-derecho
{
    text-align: right;
}

/* background */
header, .container3, .container5 
{
    color: white;
    background: linear-gradient(270deg, rgba(27, 79, 157, 0.4) 0%, rgba(28, 28, 27, 0.2) 52.08%, rgba(28, 28, 27, 0.4) 100%), #1B4F9D;
}

.container6
{
    color: white;
    background: linear-gradient(106.78deg, rgba(229, 47, 38, 0.3) 27.54%, rgba(229, 47, 38, 0) 94.21%), #1B4F9D;
}
.img-1
{
    background-image: url("/img/leon-vbxyFxlgpjM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    background-blend-mode: screen;
    background-color: hsla(0, 0%, 100%, 0.37);
    backdrop-filter: blur(4px);

}

.img-2
{
    background-image: url("/img/photo-1586717791821-3f44a563fa4c.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-blend-mode: screen;
    background-color: #1B4F9D;
    backdrop-filter: blur(4px);
}
.img-3
{
    background-image: url("/img/ux-indonesia-qC2n6RQU4Vw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    background-color: hsla(0, 0%, 100%, 0.37);
    backdrop-filter: blur(4px);
}
.img-4
{
    background-image: url("/img/pantalla-cidi.png");    
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 50% 3.5cm; 
}
  .carousel-caption 
  {
    bottom: 10rem;
    z-index: 10;
  }
  
  .carousel-item 
  {
    height: 32rem;

  }
  .carousel-item > img 
  {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  /* footer */
.li-icono{
    float: left;
    margin-right: 10px;

}